# ----------------------------
# Ambiente virtual
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Variáveis de ambiente
# ----------------------------
.env
.env.*

# ----------------------------
# Cache do Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Arquivos de build/distribuição
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# VSCode
# ----------------------------
.vscode/

# ----------------------------
# Sistema operacional
# ----------------------------
.DS_Store
Thumbs.db
